/*//font-family: 'Alegreya', serif;
// ---- ---- colors ---- ---- //
color_text: #f9f9ff;
$color_1: #d55448;
$color_2: #ffa577;
$color_3: #896e69;
$color_4: #626d71;
$color_5: #ddbc95;*/
:root {
  --young_color: #deffc4;
  --adult_color: #b6ed8b;
  --senior_color: #ffbb11;
  --lifespan: 77.6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  color: #f9f9ff;
}
html {
  font-size: 62.5%;
}
.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.main {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.weeks {
  position: relative;
  width: 760px;
  padding: 3.5rem 5rem 3.5rem calc(5rem + 7rem);
}
.weeks__year-text,
.weeks__week-text {
  font-size: 5.1rem;
  font-weight: 600;
  line-height: 7rem;
  text-transform: uppercase;
}
.weeks__week-text {
  padding-left: calc(0.7rem * 2 + 1.3rem);
}
.weeks__year-text {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left top 0;
  top: calc(3.5rem+7rem+1.1rem+1.3rem+0.7rem * 2);
  left: calc(0px + 7rem + 5rem);
}
.weeks__body {
  position: relative;
  width: 440px;
  margin-top: 1.1rem;
  padding-left: calc(0.7rem * 2 + 1.3rem);
}
.weeks__body-weeks {
  position: relative;
  left: -7px;
  display: flex;
  width: 413px;
  padding: 0.7rem 0;
}
.weeks__body-x--zero {
  display: inline-block;
  width: 7px;
}
.weeks__body-x {
  width: calc(5px * 10 + 3px * 10);
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.weeks__body-x:last-of-type {
  width: auto;
}
.weeks__body-years {
  position: absolute;
  top: calc(0.7rem * 2 + 1.3rem);
  left: 0;
  padding: 0 0.7rem;
}
.weeks__body-y {
  display: flex;
  align-items: flex-end;
  height: calc(5px * 10 + 3px * 9);
  font-size: 1.3rem;
  line-height: 1.3rem;
  vertical-align: bottom;
}
.weeks__body-y + .weeks__body-y {
  margin-top: 6px;
}
.weeks__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 413px;
}
.weeks__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}
.weeks__dot:not(:nth-of-type(52n)) {
  margin-right: 3px;
}
.weeks__dot:nth-of-type(n + 53) {
  margin-top: 3px;
}
.weeks__dot:nth-of-type(520n + 1) {
  margin-top: 6px;
}
.weeks__dot:first-of-type {
  margin-top: 0;
}
.weeks__dot._empty {
  background: transparent;
  border: 1px solid #fff;
}
.weeks__dot._young {
  background: #ffffff;
  border: 1px solid var(--young_color);
}
.weeks__dot._adult {
  background: var(--adult_color);
}
.weeks__dot._senior {
  background: var(--senior_color);
}

.weeks__comment {
  position: absolute;
  top: 0;
  right: -155px;
  width: 145px;
  height: calc(
    (5px * 10 + 3px * 9) * var(--lifespan) / 10 + 6px * var(--lifespan) / 10
  );
  transition: height 0.5s;
}
.weeks__comment::before {
  content: url(images/svg/top);
}
.weeks__comment::after {
}
